.processors {
    margin: 0 auto 0 auto;

    > .processors-inner {
        width: 100%;
    }

    .processor {
        width: 100%;

        padding: 5px 10px;

        margin: 0 0 40px 0;

        > .title {
            text-align: center;
        }

        pre.json {
            height: 500px;
        }
    }
}

.btn {
    border: 2px solid #68a2ff;

    padding: 5px 10px;
    border-radius: 4px;

    font-weight: bold;

    color: #68a2ff;

    cursor: pointer;
    display: inline-block;
}

@import "connection_status";

// Processors
@import "processor_frequency";
@import "processor_conversations";
@import "processor_total_count";