.processors {
    margin: 0 auto 0 auto;

    > .processors-inner {
        width: 100%;
    }

    .processor {
        width: 100%;

        padding: 5px 10px;

        margin: 0 0 40px 0;

        > .title {
            text-align: center;
        }

        pre.json {
            height: 500px;
        }
    }
}

@import "processor_conversations";
@import "processor_total_count";